.profilePic {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #d9d9d9;
}

.profileName {
  width: 80%;
}

/* Work Experience */
.workCard {
  padding: 2rem;
  border: solid #A10035;
  border-radius: 5px;
  height: 100%;
}

/* Education */
#education {
  background-color: #A10035;
  color: #fff;
}

.eduCard {
  background: #B91646;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
